h1 {
    text-align: center;
    border: 2px solid rgb(19, 19, 83);
    border-radius: 15px;
}

.movies-error {
    background-color: rgb(201, 89, 89);
    border-radius: 15px;
    color: white;
    padding: 0.5rem;
}

.movies-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 0.5rem;
}

.btn-movie {
    padding: 0;
    border-radius: 10px;
    border: none;
    background: none;
    cursor: pointer;
}

.btn-movie:hover .movie-container {
    opacity: 90%;
}

.movie-container {
    text-align: center;
    background-color: rgb(49, 43, 100);
    color: white;
    border-radius: 10px;
    padding: 0.2rem;
}

.movie-container p {
    letter-spacing: 0.1rem;
}


img {
    height: 200px;
    width: 150px;
    border-radius: 10px;
}